@@ -2,56 +2,59 @@
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Deutsches QWERTZ Layout — angepasst für DE-Tastatureinstellung im OS
 * Benötigt: zmk-locales Modul (joelspadin/zmk-locales)
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <locale/keys_de.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                         |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                         |  Z   |  U    |  I    |  O   |   P   | LOWER |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                         |  H   |  J    |  K    |  L   |   '   |   "   |
            // | LCTRL |  Y  |  X  |  C   |  V   |  B   |  MUTE  |        | ExtPw |  N   |  M    |  ,    |  .   |   /   |  ALT  |
            //               | CAPS|  {   |  }   | SPACE| BKSPC  |        | GUI   | ENTER|  -    |  =    |  \  |

            // -----------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                         |  6   |  7    |  8    |  9   |   0   |    ^     |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                         |  Z   |  U    |  I    |  O   |   P   |  LOWER   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                         |  H   |  J    |  K    |  L   |   Ö   |    Ä     |
            // | LCTRL |  Y  |  X  |  C   |  V   |  B   |  MUTE  |        | PLAY  |  N   |  M    |  ,    |  .   |   -   |   ALT    |
            //               | CAPS|  Ü   |  +   | SPACE| BKSPC  |        | GUI   | ENTER|  ß    |  #    |  \   |
            // -----------------------------------------------------------------------------------------------------------------------
            // HINWEIS: OS muss auf Deutsch (QWERTZ) eingestellt sein!
            bindings = <
&kp ESCAPE      &kp N1  &kp N2        &kp N3            &kp N4             &kp N5                                        &kp N6     &kp N7     &kp N8     &kp N9         &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W         &kp E             &kp R              &kp T                                         &kp Z      &kp U      &kp I      &kp O          &kp P     &to 1
&kp LEFT_SHIFT  &kp A   &kp S         &kp D             &kp F              &kp G                                         &kp H      &kp J      &kp K      &kp L          &kp SEMI  &kp SQT
&kp LCTRL       &kp Y   &kp X         &kp C             &kp V              &kp B      &kp C_MUTE       &kp C_PLAY_PAUSE  &kp N      &kp M      &kp COMMA  &kp DOT        &kp FSLH  &kp RIGHT_ALT
                        &kp CAPSLOCK  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SPACE  &kp BACKSPACE    &kp LEFT_WIN      &kp ENTER  &kp MINUS  &kp EQUAL  &kp BACKSLASH
&kp ESCAPE      &kp DE_N1  &kp DE_N2     &kp DE_N3          &kp DE_N4          &kp DE_N5                                        &kp DE_N6     &kp DE_N7         &kp DE_N8     &kp DE_N9         &kp DE_N0         &kp DE_CARET
&kp TAB         &kp DE_Q   &kp DE_W      &kp DE_E           &kp DE_R           &kp DE_T                                         &kp DE_Z      &kp DE_U          &kp DE_I      &kp DE_O          &kp DE_P          &to 1
&kp LEFT_SHIFT  &kp DE_A   &kp DE_S      &kp DE_D           &kp DE_F           &kp DE_G                                         &kp DE_H      &kp DE_J          &kp DE_K      &kp DE_L          &kp DE_O_UMLAUT   &kp DE_A_UMLAUT
&kp LCTRL       &kp DE_Y   &kp DE_X      &kp DE_C           &kp DE_V           &kp DE_B      &kp C_MUTE       &kp C_PLAY_PAUSE  &kp DE_N      &kp DE_M          &kp DE_COMMA  &kp DE_DOT        &kp DE_MINUS      &kp RIGHT_ALT
                            &kp CAPSLOCK  &kp DE_U_UMLAUT    &kp DE_PLUS        &kp SPACE     &kp BACKSPACE    &kp LEFT_WIN      &kp ENTER     &kp DE_SHARP_S    &kp DE_HASH   &kp DE_BACKSLASH
            >;

            sensor-bindings =
                <&inc_dec_kp RIGHT LEFT>,
                <&inc_dec_kp UP_ARROW DOWN_ARROW>;
        };

        Symbols {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // -----------------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | `     |  1  |  2  |  3   |   4  |   5  |                   |  F12 |   7   |   8   |   9  |    0  | RAISE |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            // |   ^   |  1  |  2  |  3   |  4   |  5   |                   |  F12 |   7   |   8   |   9  |    0  |  BASE |
            // |       |  !  |  "  |  §   |  $   |  %   |                   |  &   |  /    |  (    |  )   |   =   |   |   |
            // |       |  +  |  -  |  *   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            // -----------------------------------------------------------------------------------------------------------------------
            // HINWEIS: Deutsche Sonderzeichen — kein Shift-Workaround nötig dank DE-Keycodes
            bindings = <
&trans     &kp F1     &kp F2     &kp F3       &kp F4    &kp F5                       &kp F6     &kp F7    &kp F8           &kp F9     &kp F10   &kp F11
&kp GRAVE  &kp N1     &kp N2     &kp N3       &kp N4    &kp N5                       &kp F12    &kp N7    &kp N8           &kp N9     &kp N0    &to 0
&trans     &kp EXCL   &kp AT     &kp HASH     &kp DLLR  &kp PRCNT                    &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR  &kp PIPE
&trans     &kp EQUAL  &kp MINUS  &kp KP_PLUS  &kp LBRC  &kp RBRC   &trans    &trans  &kp LBKT   &kp RBKT  &kp SEMI         &kp COLON  &kp BSLH  &trans
                      &trans     &trans       &trans    &trans     &trans    &trans  &trans     &trans    &trans           &trans
&trans          &kp F1           &kp F2         &kp F3           &kp F4           &kp F5                              &kp F6         &kp F7         &kp F8           &kp F9         &kp F10          &kp F11
&kp DE_CARET    &kp DE_N1        &kp DE_N2      &kp DE_N3        &kp DE_N4        &kp DE_N5                           &kp F12        &kp DE_N7      &kp DE_N8        &kp DE_N9      &kp DE_N0        &to 0
&trans          &kp DE_EXCL      &kp DE_DQT     &kp DE_SECT      &kp DE_DLLR      &kp DE_PRCNT                        &kp DE_AMPS    &kp DE_FSLH    &kp DE_LPAR      &kp DE_RPAR    &kp DE_EQUAL     &kp DE_PIPE
&trans          &kp DE_PLUS      &kp DE_MINUS   &kp DE_ASTRK     &kp DE_LBRC      &kp DE_RBRC   &trans    &trans      &kp DE_LBKT    &kp DE_RBKT    &kp DE_SEMI      &kp DE_COLON   &kp DE_BACKSLASH &trans
                                 &trans         &trans           &trans           &trans        &trans    &trans      &trans         &trans         &trans           &trans
            >;

            sensor-bindings =
                <&inc_dec_kp PG_UP PG_DN>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
